body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
}

.navbar-fixed-top .nav {
    padding: 15px 0;
}

.navbar-fixed-top .navbar-brand {
    padding: 0 15px;
}


.eachRow {
	margin-top: 10px;
	/*border: solid 1px black;*/
	color: #6A6D6E;
	box-shadow: 2px, 2px, 2px .1;
	border-bottom: 1px dashed #FFAA65;
	margin-bottom: 10px;
}

.eachRow:hover {
	color: #404242;
	background-color: #F2F2F2;
}

.teamsButton {
	text-align: right;
}

.teamLogo img {
	border-radius: 50px;
	height: 60px;
	width: 60px;
}

/*.teamInfo {
	border-bottom: 1px dashed #FFAA65;
	background-color: #fff;
}*/

.playerList {
	/*border-bottom: 1px dashed #6A6D6E;*/
}

.header {
	background-color: peachpuff;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
















@media(min-width:768px) {
    body {
        padding-top: 100px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    }

    .navbar-fixed-top .navbar-brand {
        padding: 15px 0;
    }
}