body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
}

.navbar-fixed-top .nav {
    padding: 15px 0;
}

.navbar-fixed-top .navbar-brand {
    padding: 0 15px;
}

.navbar-fixed-top .navbar-brand img {
    margin-top: 10px;
}


.eachRow {
	margin-top: 10px;
	/*border: solid 1px black;*/
	color: #6A6D6E;
	box-shadow: 2px, 2px, 2px .1;
	border-bottom: 1px dashed #FFAA65;
	margin-bottom: 10px;
}

.eachRow:hover {
	color: #404242;
	background-color: #F2F2F2;
}

.teamsButton {
	text-align: right;
}

.teamLogo img {
	border-radius: 50px;
	height: 60px;
	width: 60px;
}

.teamInfo {
	/*border-bottom: 1px dashed #FFAA65;*/
	background-color: #fff;
}

.playerList {
	/*border-bottom: 1px dashed #6A6D6E;*/
}

.header {
	background-color: peachpuff;
}

.profilePic img {
	height: 170px;
}

.individual img {
	height: 75px;
	width: 50px;
}

.playerCard {
	border: solid 1px black;
	display: inline-block;
	float: left;
	width: 22%;
	margin: 1%;
	border-radius: 5px;
	padding: 5px;
	text-align: center;

}

.playerCard h4 img {
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }


.modal-content {
	/*height: 300px;*/
	background-color: #ffffff;
}


.footer {
	clear: both;
	background-color: #F2F2F2;
	height: 70px;
	text-align: center;
	width: 100%;

}

.footer img {
	margin: 15px 5px 0px 5px;
}

.btn-warning {
	background-color: #ee581a;
}










@media(min-width:768px) {
    body {
        padding-top: 100px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    }

    .navbar-fixed-top .navbar-brand {
        padding: 15px 0;
    }
}