body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
	/*background-image: url('http://7-themes.com/data_images/out/74/7024018-basketball-court.jpg');*/
	/*background-image: url('http://img0.gtsstatic.com/wallpapers/1948f2d53fe62256a3702d13d2d55c4a_large.jpeg');*/
	background-size: cover;
	background-attachment: fixed;
	color: #000000;
}

/*=================== nav bar ==================*/

nav.navbar.navbar-inverse.navbar-fixed-top {
	background-color: rgba(61, 61, 61, .9);
}

.collapse .navbar-collapse {

}

.navbar-fixed-top .nav {
    padding: 15px 40px;

}

.navbar-fixed-top .navbar-brand {
    padding: 0 15px;

}

.navbar-fixed-top .navbar-brand img {
    margin-top: 10px;
}
/*===================  end nav bar ==================*/


.titles {
	font-family: 'Limelight', cursive;
	color: #D53018;
}

.bracket {
	background-color: rgba(242, 242, 242, .3);
}
.bracket img {
	margin: 0 10%;

}

.eachRow {
	margin-top: 10px;
	background-color: rgba(242, 242, 242, .1);
	color: #ffffff;
	margin-bottom: 10px;
}

.eachRow:hover {
	background-color: rgba(242, 242, 242, .3);
}

.spacing {
	height: 65px;
	vertical-align: center;
	clear: both;
	margin: 5px 0 0 0px;
	padding: 5px 0;
	box-shadow: 1px 1px 1px #888888;
}

.teamsButton {
	text-align: right;
}

.teamLogo img {
	border-radius: 50px;
	height: 60px;
	width: 60px;
	margin-top: -10px;
}

.teamInfo {
	border-bottom: 1px dashed #FFAA65;
	background-color: #fff;
	/*background-color: rgba(242, 242, 242, 1);*/
	color: #999999;

}

.playerList {
	padding-left: 50px;
	margin-top: 20px;
}

.profilePic img {
	height: 170px;
}

.individual img {
	height: 75px;
	width: 50px;
}

.playerCard {
	border: solid 1px #888888;
	background-color: rgba(242, 242, 242, .3);
	display: inline-block;
	float: left;
	width: 22%;
	margin: 1%;
	border-radius: 5px;
	padding: 5px;
	text-align: center;
	box-shadow: 2px 2px 2px #888888;
	color: #000;
}

.playerCard:hover {
	border: 1px dashed #D53018;
	background-color: #E8E8E8;
	background-color: rgba(242, 242, 242, .5);

}

.btn-warning {
	background-color: #D53018;
	border: 1px solid black;
}

.btn-warning:hover {
	background-color: #505050;

}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }


.modal-content {
	color: #505050;
	background-color: #ffffff;
	text-align: center;
}

.footer {
	clear: both;
	/*background-color: #F2F2F2;*/
	/*background-color: rgba(242, 242, 242, .3);*/
	height: 70px;
	text-align: center;
	width: 100%;
}

.footer img {
	margin: 15px 5px 0px 5px;
}


/*=============================================*/

@media(max-width: 960px){
	.playerCard {
	width: 30%;
	}
}

@media(min-width:768px) {
    body {
        padding-top: 100px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    }

    .navbar-fixed-top .navbar-brand {
        padding: 15px 0;
    }
  
}

@media(max-width: 768px){
	  .playerCard {
		width: 47%;
	}
}

@media(max-width: 480px){
	  .playerCard {
		width: 98%;
	}
}





