<div class="row">
	<div class="col-md-offset-2 col-md-8 col-md-offset-2">
		<h2 class="titles">Tournament Schedule</h2>
	</div>
</div>
<div class="row">
	<div class="col-md-offset-2 col-md-8 col-md-offset-2">
		<h3>NCAA Women's Basketball</h3>	
	</div>
</div>
<div>
	<div class="row eachRow">
		<div class="col-md-offset-2 col-md-8 col-md-offset-2">
			<div class="row">
				<div class="col-md-6" ng-repeat="tournament in tournamentSchedule">
					<h4>{{tournament.name}}</h4>
					{{tournament.location}} | {{tournament.start_date}} | {{tournament.end_date}}
					<hr>
				</div>
			</div>
		</div>
	</div> 
</div>
<hr>
<div class="row">
	<div class="col-md-offset-2 col-md-8 col-md-offset-2">
		<a href="" ng-click="leagueHierarchy()">Leagues</a>

		<div class="row" ng-repeat="division in teams track by $index">
			<div class="col-md-12">
				<div>
					<h3>{{division.name}}</h3>
				</div>
			</div>

			<div class="col-md-12" ng-repeat="conference in division.conferences">

				<h4>Conference Name: {{conference.name}}</h4>
				
			
					<div ng-repeat="team in conference.teams">
						<p ng-click="showPlayers(team.id, team)">Team Name: {{team.name}}</p>
					
						<p ng-show="team.players">Players</p> 
							<!-- will only show if the value is truthy -->
						<div ng-repeat="player in team.players" class="col-md-4 playerCard">
							<h4>{{player.first_name}} {{player.last_name}}</h4>
							{{player.position}} | {{player.experience}} | {{player.jersey_number}} | {{player.height}}
							<textarea>Notes:</textarea>
							<button class="btn-sm btn-warning">Add to Watchlist!</button>
						</div>
					</div>
			</div>



			
					
				





		</div>
	</div>	
</div>

		
