<h1>Tournaments</h1>
<div class="courtSide">
	<!-- <h2 class="titles">Tournament Schedule</h2> -->
	<!-- <a href="/callApi">Schedule API</a> -->
	<!-- <ng-show="getTournamentSchedule()">Schedule</a> -->

	<h1> Here comes the schedule </h1>	
	
	<div ng-repeat="tournament in tournamentSchedule">
		<div class="row eachRow">
			<div class="col-xs-12 col-sm-12 col-lg-12 tournamentList">
				<h4>{{tournament.name}} | {{tournament.location}} | {{tournament.start_date}} | {{tournament.end_date}}</h4>
			</div>
		</div>
	</div>
</div>
	<hr>
	<a href="" ng-click="leagueHierarchy()">Leagues</a>
	<div ng-repeat="division in teams track by $index">
		<h4>{{division.name}}</h4>
		<div ng-repeat="conference in division.conferences">
			<h5>Conference Name: {{conference.name}}</h5>
			<div ng-repeat="team in conference.teams">
				<p ng-click="showPlayers(team.id)">Team Name: {{team.name}}</p>
			</div>
		</div>
	</div> <!-- closes first ng-repeat -->