<div class="row">
	<div class="col-md-offset-2 col-md-8 col-md-offset-2">
		<h2 class="titles">Favorites</h2>
	</div>
</div>

<div class="row">
	<div class="col-md-offset-2 col-md-8 col-md-offset-2">
		<div ng-repeat="fav in user.favorites" class="col-xs-6 playerCard">
			<img src="img/playerImageHolder2.png" width="100px">
			<h4 class="titles">{{fav.full_name}}</h4> 
			<p class="titles">#{{fav.jersey_number}}</p>
			<h4>{{fav.teamName}}</h4>
			<hr>
			<p>Position: {{fav.position}}
			| Class: {{fav.experience}}
			| Height: {{fav.height}}
			| Hometown: {{fav.birth_place}}
			<textarea ng-model="fav.notes">Notes:</textarea>
			<button class="btn-xs btn-warning" ng-click="saveNotes()">Save Notes</button>

			<button class="btn-xs btn-warning" ng-click="removePlayer(fav.id)">Remove from Favorites</button>
	<!-- add click handlers to remove -->
		</div>
	</div>
</div>