<div class="row">
	<div class="col-md-offset-2 col-md-8 col-md-offset-2">
		<h2 class="titles">Favorites</h2>
	</div>
</div>

<div class="row">
	<div class="col-md-offset-2 col-md-8 col-md-offset-2">
		<div ng-repeat="fav in user.favorites" class="col-xs-6 playerCard">
			<img src="img/playerImageHolder2.png" width="100px">
			<h4 class="subTitles">{{fav.full_name}} #{{fav.jersey_number}}</h4> 
			<!-- <h4 class="subTitles">#{{fav.jersey_number}}</h4> -->
			<h3>{{fav.teamName}}</h3>
			<hr>
			<p>Hometown: {{fav.birth_place}}</p>
			<p>Position: {{fav.position}}</p>
			<p>Class: {{fav.experience}}</p>
			<p>Height: {{fav.height}}</p>
			<textarea ng-model="fav.notes">Notes:</textarea>
			<button class="btn-xs btn-warning" ng-click="saveNotes()">Save Notes</button>

			<button class="btn-xs btn-warning" ng-click="removePlayer(fav.id)">Remove from Favorites</button>
	<!-- add click handlers to remove -->
		</div>
	</div>
</div>